:root {
  /* Primary palette (prefixed with "--color-") */
  --color-primary-50: #FCF1ED;
  --color-primary-100: #FFCFD7;
  --color-primary-200: #F19DA3;
  --color-primary-300: #E9777F;
  --color-primary-400: #F55760;
  --color-primary-500: #FB4547;
  --color-primary-600: #ED3D46;
  --color-primary-700: #DA333F;
  --color-primary-800: #CD2D38;
  --color-primary-900: #BE202C;

  /* Grey palette */
  --color-grey-50: #F9F5F3;
  --color-grey-100: #F5F5F5;
  --color-grey-200: #F9F7F4;
  --color-grey-300: #EEECEA;
  --color-grey-400: #DDDBD8;
  --color-grey-500: #AFACA9;
  --color-grey-600: #969290;
  --color-grey-700: #6D6865;
  --color-grey-800: #4C4845;
  --color-grey-900: #2A2425;

  /* Red palette */
  --color-red-50: #FFEAED;
  --color-red-100: #FFCAD0;
  --color-red-200: #F79494;
  --color-red-300: #EF686B;
  --color-red-400: #FF564F;
  --color-red-500: #FF2525;
  --color-red-600: #F01326;
  --color-red-700: #DE0020;
  --color-red-800: #D20018;
  --color-red-900: #C40007;

  /* Orange palette */
  --color-orange-50: #FFF9E4;
  --color-orange-100: #FFEDBA;
  --color-orange-200: #FFE28F;
  --color-orange-300: #FFD865;
  --color-orange-400: #FFCE4A;
  --color-orange-500: #FFC63F;
  --color-orange-600: #FFB83B;
  --color-orange-700: #FFA637;
  --color-orange-800: #FF9635;
  --color-orange-900: #FC6524;

  /* Blue palette */
  --color-blue-50: #F3F9FF;
  --color-blue-100: #C3D7EE;
  --color-blue-200: #9DBFE7;
  --color-blue-300: #77A7E0;
  --color-blue-400: #6095DD;
  --color-blue-500: #4F84D8;
  --color-blue-600: #4A77CA;
  --color-blue-700: #4366B7;
  --color-blue-800: #3D55A5;
  --color-blue-900: #313886;

  /* Green palette */
  --color-green-50: #E5F5EB;
  --color-green-100: #C1E7CD;
  --color-green-200: #99D7AE;
  --color-green-300: #6EC88E;
  --color-green-400: #4ABC76;
  --color-green-500: #1BB05E;
  --color-green-600: #11A154;
  --color-green-700: #008F48;
  --color-green-800: #007E3D;
  --color-green-900: #005E29;

  /* Purple palette */
  --color-purple-50: #F2E7F5;
  --color-purple-100: #DEC2E8;
  --color-purple-200: #C99BD9;
  --color-purple-300: #B474C9;
  --color-purple-400: #A358BD;
  --color-purple-500: #9440B1;
  --color-purple-600: #863CAA;
  --color-purple-700: #7436A0;
  --color-purple-800: #643197;
  --color-purple-900: #462885;

  /* Brown palette */
  --color-brown-50: #FCF3ED;
  --color-brown-100: #F1E1D9;
  --color-brown-200: #E4CDC2;
  --color-brown-300: #D6B8A9;
  --color-brown-400: #C8A492;
  --color-brown-500: #BB917C;
  --color-brown-600: #AC8573;
  --color-brown-700: #9A7666;
  --color-brown-800: #8A695D;
  --color-brown-900: #785A51;

  /* Pink palette */
  --color-pink-50: #FCE4EC;
  --color-pink-100: #F8BBD0;
  --color-pink-200: #F38FB0;
  --color-pink-300: #EF6291;
  --color-pink-400: #C8A492;
  --color-pink-500: #E81F62;
  --color-pink-600: #D71C5F;
  --color-pink-700: #C1195A;
  --color-pink-800: #AC1556;
  --color-pink-900: #870F4E;

  /* Base colors */
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-primary: var(--color-primary-400);
  --color-grey: var(--color-grey-900);
  --color-danger: var(--color-red-500);
  --color-warning: var(--color-orange-800);
  --color-success: var(--color-green-700);
  --color-info: var(--color-blue-600);
  --color-purple: var(--color-purple-800);
  --color-brown: var(--color-brown-50);
  --color-pink: var(--color-pink-300);

  /*
   * Color schemes.
   * Each color scheme has 4 states (default, focus/hover, active, disabled).
   * So far for each state we declare background color and foreground color only.
   * This can be extended.

   * Probably this scheme is redundant at this moment. Each button modification
   * shares identical disabled state colors. We have to find out if this is also
   * true for other components.

   * Primary color scheme (prefixed with "--primary-").
   */
  --primary-bg: var(--color-primary-400);
  --primary-color: var(--color-white);
  --primary-focus-bg: var(--color-primary-800);
  --primary-focus-color: var(--color-white);
  --primary-active-bg: var(--color-primary-400);
  --primary-active-color: var(--color-white);
  --primary-disabled-bg: var(--color-grey-300);
  --primary-disabled-color: var(--color-grey-600);

  /*
   * Secondary color scheme (prefixed with "--secondary-").
   */
  --secondary-bg: var(--color-grey-200);
  --secondary-color: var(--color-grey-900);
  --secondary-focus-bg: var(--color-grey-300);
  --secondary-focus-color: var(--color-grey-900);
  --secondary-active-bg: var(--color-primary-400);
  --secondary-active-color: var(--color-white);
  --secondary-disabled-bg: var(--color-grey-300);
  --secondary-disabled-color: var(--color-grey-600);

  /*
  * Shadows
  */
  --shadow-2xs: 0 1px 3px rgba(0, 0, 0, 10%);
  --shadow-xs: 0 4px 7px rgba(0, 0, 0, 5%);
  --shadow-sm: 0 4px 7px rgba(0, 0, 0, 12%);
  --shadow-base: 0 4px 12px rgba(0, 0, 0, 7%);
  --shadow-lg: 0 8px 16px rgba(0, 0, 0, 8%);
  --shadow-xl: 0 12px 24px rgba(0, 0, 0, 15%);
  --shadow-up-sm: 0 -2px 4px rgba(0, 0, 0, 7%);
  --shadow-up-base: 0 -4px 10px rgba(0, 0, 0, 10%);

  /* Font-size */
  --fs-2xs: 0.625rem; /* 10px */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-lg: 1.125rem; /* 18px */
  --fs-xl: 1.25rem; /* 20px */
  --fs-2xl: 1.375rem; /* 22px */
  --fs-3xl: 1.5rem; /* 24px */
  --fs-4xl: 1.75rem; /* 28px */
  --fs-5xl: 2rem; /* 32px */
  --fs-6xl: 2.25rem; /* 36px */

  /* Letter-spacing -> In px cause there will be a very large num in rem*/
  --letter-spacing-2xs: -0.1px;
  --letter-spacing-sm: -0.3px;
  --letter-spacing-base: -0.37px;

  /* Spacing */
  --spacer-5xs: 0.125rem; /* 2px */
  --spacer-4xs: 0.25rem; /* 4px */
  --spacer-3xs: 0.5rem; /* 8px */
  --spacer-2xs: 0.75rem; /* 12px */
  --spacer-xs: 1rem; /* 16px */
  --spacer-sm: 1.25rem; /* 20px */
  --spacer-base: 1.5rem; /* 24px */
  --spacer-lg: 1.75rem; /* 28px */
  --spacer-xl: 2rem; /* 32px */
  --spacer-2xl: 2.25rem; /* 36px */
  --spacer-3xl: 2.5rem; /* 40px */
  --spacer-4xl: 3rem; /* 48px; */
  --spacer-5xl: 4rem; /* 64px */
  --spacer-6xl: 4.5rem; /* 72px; */
  --spacer-7xl: 5rem; /* 80px */
  --spacer-8xl: 6rem; /* 96px */

  /* Border radius */
  --border-radius-2xs: 0.25rem;
  --border-radius-xs: 0.5rem;
  --border-radius-sm: 0.75rem;
  --border-radius-base: 1rem;
  --border-radius-lg: 1.25rem;
  --border-radius-xl: 1.5rem;
  --border-radius-full: 9999rem;

  /* Z-indexes order (to maintain overlapping elements) */
  --z-absolute: 10;
  --z-dropdown: 1000;
  --z-sticky: 1020;
  --z-fixed: 1030;
  --z-offcanvas: 1040;
  --z-modal: 1050;
  --z-popover: 1070;
  --z-tooltip: 1080;
}
